# Зависимости
/node_modules/

# Каталоги сборки
/build/
/dist/

# Отчеты о покрытии кода
/coverage/

# Файлы окружения
.env
.env.local
.env.development
.env.test
.env.production

# Логи
*.log

# Кэш
.cache/

# Редакторы и IDE
.idea/
*.sublime-*
.vscode/