# Зависимости
/node_modules/
**/node_modules/

**/tt
tt


# Каталоги сборки
/build/
/dist/

# Отчеты о покрытии кода
/coverage/

# Лок файлы
package-lock.json
yarn.lock
# Логи
*.log

# Кэш
.cache/

# Редакторы и IDE
.idea/
*.sublime-*
.vscode/