.back {
  top: 5px;
  left: 5px;
  margin-bottom: 10px;
  font-size: 50px;
  color: #315efb;

  cursor: pointer;
  &:hover {
    scale: 1.03;
    transition-duration: 0.3s;
  }
}
.errorData {
  border: 2px solid #ff0000;
}
.wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  @media (max-width: 348px) {
    padding-left: 18px;
  }
  @media (max-width: 400px) {
    left: -10px;
    overflow: hidden;
  }
  .loginForm {
    width: 400px;
    height: 400px;
    background-color: #19191a;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &Input {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__input {
        margin: 10px 0;
        width: 80%;
        padding: 12px 17px;
        border-radius: 100px;
        color: #315efb;
        background-color: #315dfb20;
        &::placeholder {
          opacity: 1;
          color: #315efb;
        }
        &Text {
          font-family: "Inter";
          font-weight: 400;
          color: white;
          font-size: 14px;
          &Help {
            margin-bottom: 30px;
            margin-left: 30px;
            color: #444444;
          }
          &Email {
            margin: 20px 0 5px 0;
            display: flex;
            align-items: center;
            font-family: "Inter";
            font-weight: 400;
            color: #315efb;
            font-size: 14px;
            &Text {
              cursor: pointer;
              &:hover {
                scale: 1.03;
                transition-duration: 0.3s;
              }
            }
            &Icon {
              font-size: 20px;
              margin-right: 10px;
              cursor: pointer;
              &:hover {
                scale: 1.03;
                transition-duration: 0.3s;
              }
            }
          }
        }
      }
      &__button {
        margin-top: 17px;
        padding: 10px 10px;
        text-align: center;
        color: #ffffff;
        font-family: "Roboto";
        background-color: #315efb;
        border-radius: 100px;
        cursor: pointer;
        &:hover {
          scale: 1.03;
          transition-duration: 0.3s;
        }
      }
    }
  }
}
