@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.errorData {
  border: 2px solid #ff0000;
}
.back {
  margin-bottom: 20px;
  font-size: 50px;
  color: #315efb;
  cursor: pointer;
  &:hover {
    scale: 1.03;
    transition-duration: 0.3s;
  }
}

.sortButtons {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  @media (max-width: 851px) {
    display: flex;
    flex-direction: column;
  }
  &__text {
    color: white;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-right: 20px;
  }
  &__button {
    margin: 0 15px;
    background-color: #315dfb20;
    padding: 14px 54px;
    border-radius: 100px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    color: #315efb;
    @media (max-width: 851px) {
      margin: 5px;
    }
  }
}
.pagination {
  margin: 20px 0;
  display: flex;
  &__Icon {
    font-size: 50px;
    font-weight: bold;
    color: #444444;
    &CanClick {
      color: #818488;
      transition-duration: 0.3s;
      cursor: pointer;
      &:hover {
        scale: 1.03;
        transition-duration: 0.3s;
      }
    }
  }
}

.userOpen {
  &__input {
    margin-top: 10px;
    background-color: #315dfb20;
    padding: 14px 54px;
    border-radius: 100px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    color: #315efb;
    &::placeholder {
      font-size: 14px;
      font-family: "Roboto";
      font-weight: bold;
      color: #315efb;
    }
    &Text {
      margin-top: 100px;
      color: white;
      &Click {
        color: #828282;
        cursor: pointer;
      }
    }
  }
  &__button {
    display: block;
    margin-top: 17px;
    padding: 10px 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto";
    background-color: #315efb;
    border-radius: 100px;
    cursor: pointer;
    &Red {
      margin-top: 50px;
      background-color: red;
    }
    &:hover {
      scale: 1.03;
      transition-duration: 0.3s;
    }
  }
}
.wrapper {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  padding: 20px;
  &AddUser {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__or {
      text-align: center;
      padding: 20px;
      width: 100%;
      font-family: "Inter";
      font-weight: bold;
      color: white;
      font-size: 20px;
    }
  }
  &Form {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #19191a;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    @media (max-width: 538px) {
      width: 90vw;
    }
    &__select {
      margin: 10px 0;
      padding: 12px 17px;
      border-radius: 100px;
      color: #315efb;
      background-color: #315dfb20;
    }
    &__checboxBlock {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }
    &__input,
    &__textarea {
      margin: 10px 0;
      width: 90%;
      padding: 12px 17px;
      border-radius: 100px;
      color: #315efb;
      background-color: #315dfb20;
      &checkbox {
        position: relative;
        margin: 10px 0;
        margin-left: 10px;
        padding: 12px 17px;
        border-radius: 100px;
        color: #315efb;
        background-color: #315dfb20;
      }
      &:nth-child(1) {
      }
      &::placeholder {
        opacity: 1;
        color: #315efb;
      }
      &Text {
        font-family: "Inter";
        font-weight: 400;
        color: white;
        font-size: 14px;
        &Click {
          margin: -10px 0 0 10px;
          color: #828282;
          cursor: pointer;
        }
      }
    }
    &__textarea {
      border-radius: 10px;
      height: 100px;
    }
    &__button {
      display: block;
      margin-top: 17px;
      padding: 10px 10px;
      text-align: center;
      color: #ffffff;
      font-family: "Roboto";
      background-color: #315efb;
      border-radius: 100px;
      cursor: pointer;
      &:hover {
        scale: 1.03;
        transition-duration: 0.3s;
      }
    }
  }
  &Top {
    margin-top: 116px;
    display: flex;

    justify-content: space-around;
    align-items: center;

    @media (max-width: 470px) {
      display: flex;
      flex-direction: column;
    }
    &Title {
      color: white;
      font-size: 24px;
      font-family: "Roboto";
      font-weight: 700;
      &Num {
        color: #828282;
      }
    }
    &Button {
      padding: 10px 10px;
      text-align: center;
      color: #ffffff;
      font-family: "Roboto";
      background-color: #315efb;
      border-radius: 100px;
      transition-duration: 0.3s;
      cursor: pointer;
      @media (max-width: 470px) {
        margin-top: 10px;
      }
      &:hover {
        scale: 1.03;
        transition-duration: 0.3s;
      }
    }
    &Input {
      width: 300px;
      height: 50px;
      display: flex;
      position: relative;
      &__input {
        position: absolute;
        left: 0px;
        background-color: #315dfb20;
        padding: 14px 54px;
        border-radius: 100px;
        font-size: 14px;
        font-family: "Roboto";
        font-weight: bold;
        color: #315efb;
        &::placeholder {
          font-size: 14px;
          font-family: "Roboto";
          font-weight: bold;
          color: #315efb;
        }
      }
      &__icon {
        margin: 14px 20px;
        position: absolute;
        left: 0px;
        font-size: 18px;
        color: #315efb;
      }
    }
  }
  &Block {
    margin: 0 auto;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #444444;
    @media (max-width: 520px) {
      flex-direction: column;
    }
    &Logs {
      margin: 10px;
      border: 1px solid #000;
      &Items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &Item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 5px 5px;
          border: 1px solid #818488;
          &__item {
            color: white;
          }
        }
      }
    }
  }
  &Bottom {
    margin: 10px;
    border: 1px solid #000;
    max-height: 50vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.user {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2a2a2a;
  padding: 5px;
  margin: 5px auto;
  transition-duration: 0.3s;
  cursor: pointer;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
  }
  &:hover {
    scale: 1.005;
    transition-duration: 0.3s;
  }
  &Open {
    &:hover {
      cursor: auto;
      scale: 1;
      transition-duration: 0.3s;
    }
  }
  &__item {
    flex: 30%;
  }
  &Logo {
    flex: 10%;
    &__img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
  &__text {
    font-size: 15px;
    color: white;
  }
}
